{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>

 <li>Type d'objet : {{ listing.get_type_item_display}}</li>
 <li>Vendu : {{ listing.sold | yesno }}</li>
 {% if listing.band %}
 <li>Appartient a : {{ listing.band }}</li>
 {% endif %}
</ul>

<p> {{ listing.description }} </p>

<a href="{% url 'listing-update' listing.id %}">Mettre a jour les infos du produit</a>
<br/>
<a href="{% url 'listing-delete' listing.id %}">Supprimer produit</a>


{% endblock %}